@font-face {
 font-family: 'RoundLight';
 src: url('./fonts/din-round/din-round-light.eot') format('embedded-opentype'),
 url('./fonts/din-round/din-round-light.woff') format('woff'),
 url('./fonts/din-round/din-round-light.ttf')  format('truetype');
 font-weight: 300;
}

@font-face {
 font-family: 'RoundBold';
 src: url('./fonts/din-round/din-round-bold.eot') format('embedded-opentype'),
 url('./fonts/din-round/din-round-bold.woff') format('woff'),
 url('./fonts/din-round/din-round-bold.ttf')  format('truetype');
 font-weight: 800;
}

/*.App {
  text-align: center;
}*/

* {
  margin: 0;
  padding: 0;
  font-family: 'RoundBold';
}

h1,h2,h2,h3,h5 {
  font-family: 'RoundBold';
}

p {
  font-family: 'RoundLight';
}

li {
  list-style-type: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.tabs__labels {
  display: inline-block;
  width: 100%;
  height: 60px;
  text-align: center;
  padding: 40px 0;
  background: #343845;
}

.tabs__labels a {
  display: inline-block;
  width: 100px;
  height: 60px;
  margin-left: 10px;
  text-decoration : none;
  /*color: #000;*/
  color: #fff;
  padding: 0 40px;
  font-size: 42px;
  opacity: .5;
  font-weight: 700;
  /*background: green;*/
}

.tabs__labels .active {
  opacity: 1;
}

.tabs__labels a div {
  position: relative;
  line-height: 60px;
  margin: auto;
}
/*
.wrapper {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.gag {
  background: #eee;
}

.item {
  width: 500px;
  height: 100%;
  margin: 15px 1%;
  text-align: left;
  border: 5px solid #fff;
  padding: 0;
}

.item img {
  width: 100%;
  /*height: 100%;*/
  /*height: 200px;
  object-fit: contain;
}*/

.info {
  background: #fff;
  padding: 20px;
}

.info h2 {
  text-align: center;
  padding-bottom: 20px;
}

.info div {
  margin: 0 auto;

}

.info div p {
  display: inline-block;
  width: 50%;
}

.info div p:last-child {
  text-align: right;
}

.wrapper {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: flex-start;
}


.item {
  width: 31.3333%;
  margin: 1%;
  cursor: pointer;
}

.item_img {
  width: 100%;
  height: 200px;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.19);
  border-radius: 10px;
}

.item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-top: -40px;
  position: relative;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.19);
}

.info h2 {
  margin-top: 40px;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: left;
  font-size: 24px;
}

.item_btn_inner {
  background: #FF5A5F;
  padding: 20px;
  border-radius: 10px;
  margin-top: -40px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.19);
}

.item_btn_inner ul {
  list-style-type: none;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 0;
}

.item_btn_inner ul li {
  display: inline-block;
  color: #fff;
  font-size: 18px;
}

.item_btn_inner ul li:nth-child(2) {
  float: right;
  font-size: 24px;
}

@keyframes bounce {
  0%, 75%, 100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-30px);
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*height: 100vh;*/
}

.spinner span {
  display: block;
  height: 20px;
  width: 20px;
  background: #FF5A5F;
  border-radius: 50%;
  position: absolute;
  top: 100%;
}

.spinner span:nth-child(1) {
  left: -40px;
  animation: bounce 1s ease-in-out infinite;
}
.spinner span:nth-child(2) {
  animation: bounce 1s ease-in-out 0.33s infinite;
}
.spinner span:nth-child(3) {
  left: 40px;
  animation: bounce 1s ease-in-out 0.66s infinite;
}

.ovrlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F8F2F2;
  transition: .25s ease-in-out;
  z-index: 2;
  overflow-y: auto;
}

.ovrlay .fa-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 38px;
  z-index: 5;
  cursor: pointer;
}

.single_image {
  width: 100%;
  height: auto;
  min-height: 400px;
  overflow: hidden;
  position: relative;
}

.single_image img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.single_content {
  background: #fff;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  padding: 30px;
  position: relative;
  margin-top: -40px;
  border-radius: 10px;
  height: auto;
  min-height: 250px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.19);
}

.single_content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.single_content p {
  font-family: 'RoundLight';
  font-size: 20px;
}

.single_content .tags {
  margin-top: 40px;
}

.tags div {
  border: 1px solid #343845;
  padding: 4px 8px;
  display: inline-block;
  margin-right: 8px;
  border-radius: 10px;
}

.tags li {
  list-style-type: none;
  color: #343845;
  font-weight: 300;
  font-size: 14px;
  /*font-family: 'RoundLight';*/
}

.single_content .related_items {
  margin-top: 40px;
}

.related_items .related_item {
  background-image: url('http://139.59.168.247/repeat-menu/wp-content/uploads/2017/03/brio-300x200.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #10556A;
  background-blend-mode: soft-light;
  padding: 80px 0;
  display: inline-block;
  margin-right: 2%;
  border-radius: 10px;
  width: 20%;
}

.related_item h3 {
  font-size: 24px;
  font-family: 'RoundBold';
  color: #fff;
  text-align: center;
}


.promo_offers {
  position: relative;
  overflow: hidden;
}

.promo_offers .promo_bg {
  width: 100%;
  /*max-width: 1200px;*/
  margin: 0 auto;
  height: 100%;
  max-height: 500px;
}

.promo_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 85, 106, .8);
}

.promo_bg img {
  width: 100%;
  margin: 0 auto;
}

.promo_offers .promo_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.promo_content h2, .promo_content p {
  color: #fff;
}

.promo_content h2 {
  font-size: 42px;
  margin-bottom: 20px;
}

.promo_content p {
  font-size: 24px;
}

.promo_content button {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  padding: 6px 20px;
  border-radius: 10px;
  margin-top: 40px;
}

/*Screen md*/
@media screen and (max-width: 992px) {
  .item {
    width: 48%;
  }

  .single_image {
    min-height: 300px;
  }
}

/*Screen sm*/
@media screen and (max-width: 768px) {

  .tabs__labels {
    padding: 20px 0;
  }

  .tabs__labels a {
    font-size: 24px;
    padding: 0 10px;
  }

  .item {
    width: 100%;
    margin: 1%;
    cursor: pointer;
  }

  .ovrlay .fa-close {
    top: 10px;
    right: 10px;
    font-size: 28px;
  }

  .single_image {
    min-height: 200px;
  }

  .related_items .related_item {
    width: 31%;
  }

  .promo_offers .promo_bg {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    max-height: 500px;
    min-height: 350px;
  }

  .promo_offers .promo_content {
    width: 100%;
    max-width: 80%;
  }

  .promo_content h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .promo_content p {
    font-size: 20px;
  }

  .promo_content button {
    margin-top: 20px;
  }
}
