/*.App {
  text-align: center;
}*/

* {
  margin: 0;
  padding: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.tabs__labels {
  display: inline-block;
  width: 100%;
  height: 60px;
  text-align: center;
  margin: 40px 0;
}

.tabs__labels a {
  display: inline-block;
  width: 100px;
  height: 60px;
  margin-left: 10px;
  text-decoration : none;
  color: #000;
  padding: 0 40px;
  font-size: 42px;
  opacity: .5;
  font-weight: 700;
  /*background: green;*/
}

.tabs__labels .active {
  opacity: 1;
}

.tabs__labels a div {
  position: relative;
  line-height: 60px;
  margin: auto;
}
/*
.wrapper {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.gag {
  background: #eee;
}

.item {
  width: 500px;
  height: 100%;
  margin: 15px 1%;
  text-align: left;
  border: 5px solid #fff;
  padding: 0;
}

.item img {
  width: 100%;
  /*height: 100%;*/
  /*height: 200px;
  object-fit: contain;
}*/

.info {
  background: #fff;
  padding: 20px;
}

.info h2 {
  text-align: center;
  padding-bottom: 20px;
}

.info div {
  margin: 0 auto;

}

.info div p {
  display: inline-block;
  width: 50%;
}

.info div p:last-child {
  text-align: right;
}

.wrapper {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: flex-start;
}


.item {
  width: 31.3333%;
  margin: 1%;
}

.item_img {
  width: 100%;
  height: 200px;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.19);
}

.item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-top: -40px;
  position: relative;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.19);
}

.info h2 {
  margin-top: 40px;
  margin-bottom: 0;
}

.item_btn_inner {
  background: #FF5A5F;
  padding: 20px;
  border-radius: 10px;
  margin-top: -40px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.19);
}

.item_btn_inner ul {
  list-style-type: none;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 0;
}

.item_btn_inner ul li {
  display: inline-block;
  color: #fff;
}

.item_btn_inner ul li:nth-child(2) {
  float: right;
}

@keyframes bounce {
  0%, 75%, 100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-30px);
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*height: 100vh;*/
}

.spinner span {
  display: block;
  height: 20px;
  width: 20px;
  background: #FF5A5F;
  border-radius: 50%;
  position: absolute;
  top: 100%;
}

.spinner span:nth-child(1) {
  left: -40px;
  animation: bounce 1s ease-in-out infinite;
}
.spinner span:nth-child(2) {
  animation: bounce 1s ease-in-out 0.33s infinite;
}
.spinner span:nth-child(3) {
  left: 40px;
  animation: bounce 1s ease-in-out 0.66s infinite;
}

.ovrlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F8F2F2;
  transition: .25s ease-in-out;
  z-index: 2;
}

.ovrlay .fa-close {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 38px;
  z-index: 5;
}

.single_image {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.single_image img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.single_content {
  background: #fff;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  padding: 30px;
  position: relative;
  margin-top: -40px;
  border-radius: 10px;
  height: auto;
  min-height: 250px;
}
